* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: rgb(25, 25, 25);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 4em;
    background-color: #4bbde0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.397);
}

nav .upper-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .lower-nav {
    display: none;
    position: relative;
}

.opening-nav {
    animation: nav-appear .5s;
}

.closing-nav {
    animation: nav-appear reverse .5s;
}

nav span {
    display: none !important;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    font-weight: bolder;
}

nav ul li {
    margin: 0 2em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: .4s;
}

.logo {
    padding: 1em;
}

.logo img {
    filter: drop-shadow(2px 2px 2px rgba(109, 109, 109, 0.5));
}

header {
    display: flex;
    flex-direction: column;
    margin: 0 10em;
}

header .lead {
    margin: 2em 0;
    font-size: 1.1em;
}

header .links {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .links span {
    cursor: pointer;
}

header .links a {
    color: black;
    text-decoration: none;
}

header .localizacao {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

header .links .controls {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

header .links .controls > * {
    margin: 0 0.2em;
}

header .links .controls  {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

header .links .controls .share {
    position: relative;
    top: 0.1em;
}

h1 {
    font-size: 3em;
    margin: 0;
    margin-top: 1em;
    color: black;
    line-height: 1em;
}

header p {
    margin: 0;
}

header .autores {
    font-weight: bold;
}

header .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
}

header .image-container span {
    align-self: baseline;
}

header .image-container img {
    width: 100%;
}

main {
    margin: 0 20em;
}

main .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #4bbde0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.397);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

footer > * {
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .logo {
    width: 10em;
}

footer ul {
    list-style-type: none;
    padding: 0;
    font-weight: bolder;
}

footer ul li {
    margin: 0.5em 0;
    text-align: center;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer .voltar {
    cursor: pointer;
}

@media (width <= 1200px) {
   main {
    margin: 0 9em;
   } 
}

@media (width <= 745px) {
    nav {
        position: fixed;
        width: 100%;
        z-index: 30;
    }
    
    header {
        margin: 0 5em;
    }

    header h1 {
        margin-top: 2em;
    }

    nav .upper-nav ul {
        display: none;   
    }

    nav span {
        display: inline !important; 
        width: 4em;
        color: white;
        cursor: pointer;
    }
    main {
        margin: 0 5em;
    } 
}

@media (width <= 450px) {
    header, main {
        margin: 0 2em;
    }

    footer {
        flex-direction: column;
    }

    footer > * {
        width: 100%;
    }
}

@keyframes nav-appear {
    0% {
        bottom: 250px;
        height: 0;
    }

    100% {
        bottom: 0px;
        height: 3.4em;
    }
}
