* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: rgb(25, 25, 25);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 4em;
    background-color: #4bbde0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.397);
}

nav .upper-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .lower-nav {
    display: none;
    position: relative;
}

.opening-nav {
    animation: nav-appear .5s;
}

.closing-nav {
    animation: nav-appear reverse .5s;
}

nav span {
    display: none !important;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    font-weight: bolder;
}

nav ul li {
    margin: 0 2em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: .4s;
}

.logo {
    padding: 1em;
}

.logo img {
    filter: drop-shadow(2px 2px 2px rgba(109, 109, 109, 0.5));
}

footer {
    background-color: #4bbde0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.397);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

footer > * {
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .logo {
    width: 10em;
}

footer ul {
    list-style-type: none;
    padding: 0;
    font-weight: bolder;
}

footer ul li {
    margin: 0.5em 0;
    text-align: center;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer .voltar {
    cursor: pointer;
}
